.comic-detail-page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.comic-detail-page .wrapper {
    margin: 50px 0px;
    width: 700px;
}

.comic-detail-page .title {
    margin: 15px 0px;
}

.comic-detail-page .wrapper .title h1 {
    text-align: center;
    font-weight: 100;
}

.comic-detail-page .wrapper .author {
    margin: 15px 0px;
}

.comic-detail-page .wrapper .author h4 {
    text-align: center;
}

.comic-detail-page .wrapper .content {
    word-break: break-all;
}

.comic-detail-page .wrapper .content img {
    max-width: 700px;
    max-height: 700px;
}

.comic-detail-page .wrapper .content p {
    margin: 25px 0px;
    line-height: 1.6;
}




/* RESPONSIVE */
@media only screen and (max-width: 400px) { 
    .comic-detail-page .wrapper {
        margin: 50px 0px;
        width: 100%;
    }

    .comic-detail-page .wrapper .content {
        max-width: 290px;
        margin: 0px auto;
    }

    .comic-detail-page .wrapper .content img {
        max-width: 290px;
        max-height: 290px;
    }
}
