nav {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 0px 15px;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

nav .block {
    width: 10px;
    height: 2px;
}

nav .newNav {
    display: none;
}

nav #burger {
    display: none;
}


@media only screen and (max-width: 500px) {
    nav {
        display: flex;
        justify-content: space-around;
        height: max-content;
        padding: 5px;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        margin: 10px 0px;
        font-size: 20px;
        color: rgb(75, 75, 75);
    }

    nav h3 {
        display: none;
    }

    nav #burger {
        cursor: pointer;
        display: block;
    }

    nav .block {
        width: 5vh;
        height: 3px;
        background-color: rgb(94, 94, 94);
        margin: 5px 0px;
    }
    
    #closeNav {
        display: flex;
        justify-content: center;
    }

    nav .newNav {
        display: none;
    }

    /* nav .newNav a {
        display: flex;
        justify-content: center;
        padding: 3px 15px;
        background-color: black;
        color: white;
    } */
    
}