{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    {% include "user_navbar.html" %}
{% else %}
    {% include "navbar.html" %}
{% endif %}


<div class="writing-detail-page">
    <div class="wrapper">
        <div class="title">
            <h1 id="writingTitle">{{writing.title}}</h1>
        </div>
        {% if writing.image_cover != "" %}
            <div class="image-cover">
                <img src="{{writing.image_cover}}" alt="">
            </div>
        {% endif %}
        <div class="author">
            <h4>Oleh {{writing.author_name}}</h4>
        </div>
        <div class="content">
            {{writing.content|safe}}
        </div>
        <div class="writing-share">
            <div class="container">
                <a id="shareToTwitter" class="twitter-share-button"  href="">
                    <img id="twitter-icon" data-title="{{writing.title}}" src="{% static 'images/twitter.png' %}" alt="">
                </a>
                <!-- Your share button code -->
                <div class="fb-share-button" 
                data-href="https://methaphora.herokuapp.com/writing/{{writing.id}}" 
                data-layout="button_count">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


{% include 'footer.html' %}


<script>
    const shareToTwitter = document.getElementById("shareToTwitter")
    shareToTwitter.addEventListener("click", (e) => {
        e.preventDefault()
        const target = e.target
        const writingTitle = target.dataset.title
        const currentPath = window.location.href
        location.assign(`https://twitter.com/intent/tweet?text=${writingTitle}&url=${currentPath}`)
    })
</script>

{% endblock content%}