.about-page {
    display: flex;
    justify-content: center;
}

.about-page .wrapper {
    width: 800px;
    margin-top: 5px;
}

.about-page .header {
    margin: 0px auto;
    width: 400px;
    display: flex;
    justify-content: center;
}

.about-page .header img {
    width: 100%;
    margin: 0px auto;
    /* border-radius: 50%; */
    /* border: 1px solid rgb(177, 177, 177); */
    /* box-shadow: 1px 2px 7px 6px rgba(226, 226, 226, 0.75); */
}

.about-page .content {
    width: 600px;
    margin: 30px auto;
    word-break: break-all;
}

.about-page .content p {
    /* text-align: center; */
    line-height: 1.6;
    font-size: 19px;
}


.about-page .content img {
    max-width: 600px;
    margin-bottom: auto;
    
}


/* RESPONSIVE */
@media only screen and (max-width: 600px) {
    .about-page .wrapper {
        width: 280px;
        margin-top: 5px;
    }

    .about-page .content {
        width: 280px;
        margin: 5px auto 50px auto;
        word-break: break-all;
    }

    .about-page .content p {
        font-size: 13px;
    }

    .about-page .header {
        margin: 0px auto;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .about-page .header img {
        max-width: 280px;
        max-height: 280px;
        margin: 0px auto;
        /* border-radius: 50%; */
        /* border: 1px solid rgb(177, 177, 177); */
        /* box-shadow: 1px 2px 7px 6px rgba(226, 226, 226, 0.75); */
    }

    .about-page .content img{
        max-width: 300px;
        max-height: 300px;
    }
  }