.writing-detail-page {
    display: flex;
    justify-content: center;
}

.writing-detail-page .wrapper {
    width: 100%;
}

.writing-detail-page .title {
    width: 700px;
    margin: 45px auto;
}

.writing-detail-page .title h1 {
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 50px;
}

.writing-detail-page .image-cover {
    max-width: 700px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.writing-detail-page .image-cover img {
    width: 100%;
}

.writing-detail-page .author {
    width: 700px;
    margin: 25px auto;
}

.writing-detail-page .wrapper .author h4 {
    text-align: center;
    letter-spacing: 1px;
}

.writing-detail-page .wrapper .author a {
    text-decoration: none;
    color: teal;
}


.writing-detail-page .content {
    width: 700px;
    margin: 25px auto;
    word-break: break-all;
}

.writing-detail-page .content h1,h2,h3,h4,h5 {
    margin: 20px 0px;
}

.writing-detail-page .content p {
    line-height: 1.6;
    margin: 15px 0px;
    font-size: 19px;
}

.writing-detail-page .contentAuthorBox {
    margin: 150px auto 150px auto;
    width: 700px;
}

.writing-detail-page .contentAuthorBox h1 {
    text-align: center;
    color: teal;
    font-weight: 100;
}

.writing-detail-page .authorBox {
    border: 2px solid rgb(185, 185, 185);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.writing-detail-page .authorHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.writing-detail-page .authorPhoto {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.writing-detail-page .authorPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(185, 185, 185);
}

.writing-detail-page .authorName {
    font-size: 24px;
}

.writing-detail-page .authorName a {
    text-decoration: none;
    color: teal;
    font-weight: 700;
}

.writing-detail-page .authorDescription {
    line-height: 1.6;
}

.writing-share {
    position: relative;
}

.writing-share .container {
    position: fixed;
    top: 325px;
    left: 10vh;
    display: flex;
    flex-direction: column;
}

.writing-share a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 0px;
}

.writing-share a  #twitter-icon {
    width: 50px;
    height: 50px;
}






/* RESPONSIVE */
@media only screen and (max-width: 460px) { 
    .writing-detail-page .title {
        width: 100%;
    }

    .writing-detail-page .image-cover {
        max-height: 290px;
        max-width: 290px;
    }

    .writing-detail-page .author {
        width: 100%;
    }

    .writing-detail-page .content {
        width: 270px;
        margin: 25px auto;
        word-break: break-all;
    }
}

@media only screen and (max-width: 760px){
    .writing-detail-page {
        display: block;
    }

    .writing-detail-page .title {
        width: 100%;
    }

    .writing-detail-page .title h1 {
        margin: 0px 10px;
        text-align: center;
        color: rgb(68, 68, 68);
        font-size: 20px;
    }

    .writing-detail-page .image-cover {
        max-width: 400px;
        max-height: 400px;
    }

    .writing-detail-page .author {
        max-width: 400px;
    }

    .writing-detail-page .content {
        max-width: 400px;
        margin: 25px auto;
        word-break: break-all;
    }

    .writing-detail-page .contentAuthorBox {
        margin: 150px auto 150px auto;
        width: 90%;
    }

    .writing-share {
        position: static;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
    
    .writing-share .container {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .writing-share a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0px 10px;
    }
    
    .writing-share a  #twitter-icon {
        width: 50px;
        height: 50px;
    }
    

}