<footer>
    <div class="wrapper">
        <div class="footerTitle">
            <h1>Metagius</h1>
            <div class="motto">
                <p>Liberté, égalité, fraternité.</p>
            </div>
        </div>
        <div class="content">
            <div class="writing">
                <a href="/writing">Writing</a>
            </div>
            <div class="comic">
                <a href="/comic">Comic</a>
            </div>
            <div class="drawing">
                <a href="/drawing">Drawing</a>
            </div>
            <div class="about">
                <a href="/about">About</a>
            </div>
        </div>
        <p>copyrights &#169;2020, Vande Nemo. All right reserved.</p>
    </div>
</footer>