{% load static %}

<div class="navWrapper">
    <nav>
        <div class="container">
            <a href="/">
                <div class="logo">
                    <img src="{% static 'images/m19logo2.png' %}" alt="">
                    <h3>Metagius</h3>
                </div>
            </a>
            <div class="link">
                <a href="/writing">Writing</a>
                <a href="/comic">Comic</a>
                <a href="/drawing">Drawing</a>
                <a href="/about">About</a>
                {% if request.user.is_authenticated %}
                    <a href="/profile">Welcome, {{request.user}}</a>
                    <a id="logout" href="/logout">Logout</a>
                {% endif %}
                <img id="navHamburger" src="{% static 'images/hamburger.webp' %}" alt="">
            </div>
        </div>
    </nav>
</div>