{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="adminBasePage">
    <div class="adminNav">
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'images/m19logo2.png' %}" alt="">
                <a href="/">Metagius</a>
            </div>
            <div class="link">
                <div class="adminLogoutBox"></div>
                <h3>Welcome, {{request.user}}</h3>
                <a id="adminLogout" href="">Logout</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="leftBar">
            <a href="/admin/user">
                <div class="link">User</div>
            </a>
            <a href="/admin/writing">
                <div class="link">Writing</div>
            </a>
            <a href="/admin/comic">
                <div class="link">Comic</div>
            </a>
            <a href="/admin/drawing">
                <div class="link">Drawing</div>
            </a>
        </div>
        <div class="rightBar">
            {% block adminContent %}
            {% endblock adminContent %}
        </div>
    </div>
</div>

<script src="{% static 'js/admin/admin.js' %}"></script>

{% endblock content %}